
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway|Roboto|Roboto+Condensed&display=swap');


/*Action button classes*/
/*btn btn-default action-button shiny-bound-input*/

/*actionBttn classes: bttn bttn-unite*/
.bttn p{
  margin-bottom: 0;
}

#home_button {
  background: #ffffff37;
  border-radius: 5px;
  position: absolute;
  z-index: 900;
  margin-top: 11px;
  margin-left: 3px;
}

#map_container{
  width: 100%;
  position: relative;
  display: flex;
}

#select_year_div {
    position: absolute;
    max-width: 80px;
    top: 15px;
    right: 10px;
}
#select_year_div .form-group {
    margin-bottom: 0;
}

.leaflet-popup-content{
  max-height: 70vh;
  overflow-y: auto;
  max-width: 90vw;
  margin: 13px 2px 10px 2px;
  
}
.leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}
.leaflet-right .leaflet-control {
    margin-right: 15px;
}
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-size: 4px;
}



small.phone_popup{
  font-size: 93%;
}

#preset_buttons{
  vertical-align: middle;
}

.bttn-unite:after, .bttn-unite:before{
  content: none;
}
.bttn-unite{
  margin: 10px;
}






@media only screen and (max-width: 769px){
  .no_small_screen{
      display: none;
  }
  #map_container {
    height: 100vh;
  }
  #results_page{
    padding:0;
  }
  #select_year_div {
/*    right: 4vw;*/
  }

  
}
@media only screen and (min-width: 770px){
  .no_big_screen{
      display: none;
  }
  #map_container {
    height: 85vh;
  }
  #select_year_div {
    right: 1vw;
  }
}







.factor_selector{
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  display: inline-block;
}

#factor_selectors{
  vertical-align: middle;
}

#factor_selectors .dropdown-menu{
  min-width: 240px;
  overflow-x: auto;
}


.preset-buttons-dropdown{
  margin-bottom: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: left;
  display: inline-block;
  max-width: 202px;
  vertical-align: text-top;
}
.preset-buttons-dropdown .bttn-unite{
  margin: 0 10px 0 0;
}

.preset-buttons-dropdown .dropdown-menu{
  min-width: 240px;
  overflow-x: auto;
}


.warning_text{
  color: red;
  font-style: italic;
}






.shiny-notification{
  position: fixed;
  top: 80vh;
  left: 0;
  right: 0;

}




/*
Leaflet classes
*/

/*layer controls: leaflet-control-layers-selector, leaflet-control-layers-base, leaflet-control-layers-list, leaflet-control-layers-expanded
Legend classes: info, legend, leaflet-control
credits classes: leaflet-control-attribution, leaflet-control

Corner classes: leaflet-top leaflet-right leaflet-left leaflet-bottom (combos of these make the corners)

popup class: leaflet-popup-content-wrapper, leaflet-popup,  leaflet-zoom-animated

drop-down menu: panel panel-info

*/

/*Testing borders*/


/*Adding the border animation to any outline*/
@keyframes animateBorder {
  to {
    outline-color: #C0C0C0;
    box-shadow: 0 0 0 6px #787878
  }
}


.highlight-border{
  outline: 6px #787878;
  box-shadow: 0 0 0 6px #C0C0C0;
  animation: 1s animateBorder infinite;
  border-radius: 5px;
}

/*.leaflet-popup-content{
  outline: 6px dashed blue;
  box-shadow: 0 0 0 6px #EA3556;
  animation: 1s animateBorder infinite;
}*/











