#map_tile_popup{
  top: 60%;
}


@media screen and (max-width: 700px){
  .popup{
    width: 70%;
    left: 0;
  }
 #legend_popup{
    left: 30%;
    top: 40%;
  }
  
  #layer_and_metrics_popup{
    left: 0;
    top: 5%;
  }
  
  #home_popup{
    right: 0;
    left: auto;
    top: 5%;
  }
}

@media screen and (min-width: 700px){
  
  .popup{
    max-width: 40%;
  }
  
  #legend_popup{
    left: 60%;
    top: 40%;
  }
  
  #layer_and_metrics_popup{
    left: 30%;
    top: 5%;
  }
  
  #home_popup{
    left: 30%;
    top: 5%;
  }
  
  
}



/*General tutorial popup stuff*/

.popup {
  text-align: left;
  left: 30%;
  /*margin-top: 20%;*/
  top: 40%;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.popup_text {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}


/*Bringing the tutorial back*/
#return_help_popup {
  left: 1vh;
  /*margin-top: 20%;*/
  top: 85%;
  height: auto;
  width: auto;
  padding: 6px 10px 0 10px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  text-align: center;
}
.help_popup .re_open {
  position: static;
  transition: all 200ms;
  font-size: 5vmin;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.help_popup .re_open:hover {
  color: #06D85F;
}
